<div class="mypage">
  
<p id="notice"><%= notice %></p>

<% if logged_in? %>


<p>
  <strong>ユーザー名</strong>
  
  <div class="myname">
  <%= @user.name %>
  </div>
  
</p>


<p>
  <strong>メールアドレス</strong>
  
  <div class="myname">
  <%= @user.email %>
  </div>
  
</p>

<%= link_to '登録情報変更', edit_user_path(@user) %> 



<% else %>

<p class="nologin">ログインしてください</p>

<% end %>

</div>



