.font30 {
    font-size:30px;
}

.font25{
    font-size:25px;
}

.nologin{
    font-size:30px;
    color:red;
    
}

.new_user{
    width:180px;
    height:50px;    
    text-align:center;
    border:ridge 5px silver;
    margin-top:10px;
    padding-top:10px;
}

.actions{
    margin-top:30px;
}

.login{
    margin-bottom:30px;
}

.mypage{
    font-size:1rem;
}

strong{
    font-size:1rem
}

.myname{
    font-size:1rem;
}

.field{
    font-weight:bold;
}